/* .loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #e5e5e5;
  border-top: 6px solid #0077ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loading-text {
  font-size: 1.2rem;
  color: #555;
} */

.skeleton-container {
  padding: 20px;
}

.skeleton-image {
  /* width: 100%; */
  width: 30%;
  display: inline-block;
  /* flex-direction: column; */
  /* align-items: center; */
  height: 300px;
  background: #e0e0e0;
  /* margin-bottom: 20px; */
  margin-right: 20px;
  border-radius: 8px;
  animation: pulse 1.5s infinite;
}

.skeleton-text {
  width: 100%;
  height: 20px;
  background: #e0e0e0;
  margin-bottom: 10px;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

.skeleton-text.short {
  width: 60%;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
